<a href="https://colab.research.google.com/github/hdhaliwa/Adder_Subtractor/blob/master/ArrestDataSolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
ufo = pd.read_json('https://data.lacity.org/resource/yru6-6re4.json')

In [3]:
ufo.head()

   :@computed_region_2dna_qi2s  :@computed_region_k96s_3jcv  ...  sex_cd  time
0                         57.0                        427.0  ...       F   210
1                         16.0                        925.0  ...       M   740
2                         16.0                        925.0  ...       M    51
3                         76.0                        693.0  ...       M   232
4                         82.0                        350.0  ...       F   335

[5 rows x 23 columns]

In [35]:
ufo.arst_date.str.slice(-23,4).astype(int).equals(2018)

False